<template name="header">
    <div class="ui inverted huge menu">
        <!--<div id="sideMenuActivate" class="three wide column sideMenuActivate">-->
            <!--<i class="inverted large sidebar icon sideMenuActivate"></i>-->
        <!--</div>-->
        <!--<div class="two wide column"></div>-->
        <!--<div class="six wide column center">-->
            <!--<img class="logo" src="/ttLogo.png">-->
        <!--</div>-->
        <!--<div class="two wide column"></div>-->
        <!--<div class="three wide column center">-->

        <!--</div>-->
        <div class="">
            <img class="logo" src="/timeMarker.png">
        </div>
        <div class="right menu">
            <a class="ui item">
                <i class="large inverted yellow setting icon"></i>
            </a>
        </div>
    </div>
</template>